*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/assets/img/flat-mountains.svg') no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    width: 100%;
    max-width: 410px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.container h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.form-box {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 30px 0;
    border-bottom: 2px solid rgba(255, 255, 255, .9);
}

.form-box input::placeholder{
    color: #fff;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
 }

.form-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    padding: 10px 30px 0 20px;
}

.form-box i {
    position: absolute;
    right: 9px;
    font-size: 20px;
    color: #fff;
    line-height: 50px;
}

.container .btn {
    margin-left: 100px;
    width: 40%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    color: #333;
    font-weight: 600;
    font-size: 14px;
}

.container .btn:hover {
    transform: scale(1.05);
    color: #fff;
    background: #FF8C00;
    border: 2px solid #fff;
}